[submodule "grpc_grpc"]
	path = grpc_grpc
	url = https://github.com/WangTingMan/grpc-grpc
[submodule "system/external/nanopb-c"]
	path = system/external/nanopb-c
	url = https://github.com/WangTingMan/nanopb-c
[submodule "system/external/zlib"]
	path = system/external/zlib
	url = https://github.com/WangTingMan/zlib
[submodule "boringssl"]
	path = boringssl
	url = https://github.com/WangTingMan/boringssl
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/WangTingMan/protobuf
